.App {
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 1200px;
  margin: auto;
  border-collapse: collapse;
}

tr {
  height: 40px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  width: 100px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}